<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf=8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" type="text/css" href="assets/style/crive/css/style.css">
</head>
<body>
	<div class="col-lg-6 col-md-6 col-sm-6 padd-h-none">
		<div class="bg-img relative">
			<div class="wrapper">
				<div class="side-panel-logo">
					<div class="u-bg-img inline-block">
					<img src="assets/img/brand/crive-mini.png" height="50px">
					</div>
					<h3 class="inline-block">Calendar<br/> code</h3>
				</div>
				<div class="bottom-wrap">
					<div class="side-panel-para">
						<img src="assets/img/landing-page/quote-img.png">
						<p class="small-wrapper">Calender Code has changed the way we organize our events.<br/> Now we feel entirely new freedom. 🎉</p>
					</div>
					<div class="profile-wrap">
						<div class="profile-pic inline-block">
							<img src="assets/img/landing-page/side-img.png">
						</div>
						<div class="profile-details inline-block">
							<p class="margin-v-none">Agnes Bailey</p>
							<p class="margin-v-none">South Walterberg</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-6 col-md-6 col-sm-6">
		<div class="login-form">
		<div class="wrapper">
			<div class="pull-right">
				<p class="inline-block">Don’t have an account ?</p>
				<div class="inline-block">
					<button class="ghost-btn-blue">SIGNUP</button>
				</div>
			</div>
		</div>
			<div class="form-control">
				<div class="fixed-wrapper">
				<h2>Login</h2>
				<div class="inline-block relative">
					<button class="btn fb-login">Facebook</button>
					<div class="ion-social-facebook"></div>
				</div>
				<div class="inline-block relative">
					<button class="btn google-login">Google</button>
					<div class="ion-social-google"></div>
				</div>
				<div class="btn-border"></div>
				<div class="border-para text-center"><p>OR</p></div>
				<form>
					<label>Email Address</label>
					<input type="email" name="email" placeholder="Type your email address here" ng-model=user.email>
					<label>Password</label>
					<input type="password" name="password" placeholder="Type password here" ng-model="user.password">
					<p>Forgot your password?<a href="#">Remind</a></p>
					<div class="text-center">
						<button class="ghost-btn-blue" ng-click="login()">Login</button>
					</div>
				</form>
			</div>
		</div>
		</div>
	</div>
</body>
</html>
