<!DOCTYPE html>
<html>
	<head>
		<title>Calendar Code</title>
		<meta charset="utf=8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" type="text/css" href="assets/style/crive/css/style.css">
	</head>
	<body>
		<header>
			<div class="wrapper padd-h-none">
				<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 logoWrapper padd-h-none">
					<div class="main-logo">
						<a class="border-bottom-none" href="#">
							<img class="inline-block" src="assets/img/brand/crive-mini.png" height="50px">
							<h2 class="inline-block">Calendar <br>code</h2>
						</a>
					</div>
				</div><!-- col end -->
				<div class="col-lg-6 col-md-6 col-sm-4 col-xs-4 inputWrapper">
				<div class="search-icon inline-block">
					<i class="ion-ios-search-strong"></i>
				</div>
				<div class="inline-block">		
					<input type="text" name="search-event" class="hidden-xs" placeholder="Search CalendarCode">
				</div>	
				</div><!-- col end -->
				<div class="col-lg-4 col-md-4 col-sm-5 col-xs-2 padd-h-none">
					<div class="pull-right">
						<ul class="header-list inline-block hidden-xs">
							<li><a href="#home-page">Home</a></li>
							<li><a href="#">Manage</a></li>
							<li class="inline-block">
							<img src="assets/img/avatar/avatar.png" height="50px" width="50px">
							<i class="ion-ios-arrow-down"></i>
						</li>
						</ul><!-- header list end -->
					</div><!-- pull-right end -->
					<div class="inline-block pull-right hidden-md">
						<div class="ion-android-menu"></div>
					</div>
				</div><!-- col end -->
			</div> <!-- wrapper end -->
		</header>	<!-- header end -->
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="empty-home">
				<div class="fixed-wrapper">
					<div class="text-center empty-section">
						<img src="assets/img/landing-page/empty-img.png">
						<h3>There's no events, create<br>your first  calendar code</h3>
						<div>
							<button class="btn btn-primary">Create Event</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<footer class="empty-home-footer">
			<div class="wrapper">
				<div class="base">
					<p class="inline-block">Your Email has been  confirmed please complete your profile so you can retrive and add meeting events</p>
					<div class="footer-btn inline-block">
						<button class="btn ghost-btn-blue">Edit Know</button>
					</div>
					<div class="pull-right cross-icon">
						<i class="ion-ios-close"></i>
					</div>
				</div>
			</div>
		</footer>
		
	</body>
</html>